.container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 10px;
    gap: 5px;
}
.card{
    width: 400px;
    max-width: 400px;
    color: antiquewhite;
}

.header-image {
    display: flex;

    justify-content: center;
    background-size: cover;
  }

  table {
    width: 100%;
  }
  
  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
  }