<div class="container">
    
  <div class="table-container mat-elevation-z8">
    <div>
        <mat-form-field class="example-full-width">
            <mat-label>Search</mat-label>
            <input matInput placeholder="Ex. 1002" value="">
          </mat-form-field>
    </div>
    <div class="spinner-container" *ngIf="dataSource!.loading$ | async">
        <mat-spinner style="margin: auto;margin-top: 80px;height: 30px;"></mat-spinner>
    </div>
    <mat-table [dataSource]="dataSource!" matSort>
        
      <!-- ID Column -->
      <ng-container matColumnDef="Policy_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.Policy_id}} </mat-cell>
      </ng-container>
  
      <!-- Customer -->
      <ng-container matColumnDef="Customer_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Customer_id</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.Customer_id}}% </mat-cell>
      </ng-container>
  
      <!-- -->
      <ng-container matColumnDef="Customer_Region">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Customer_Regio </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.Customer_Region}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="det">
        <mat-header-cell *matHeaderCellDef mat-sort-header> </mat-header-cell>
        <mat-cell *matCellDef="let row">
            <button mat-mini-fab color="primary" aria-label="" (click)="goToDetail(row)">
                <mat-icon>arrow_forward</mat-icon>
              </button>
        </mat-cell>
      </ng-container>
  
      
  
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;">
      </mat-row>
    </mat-table>

  <mat-paginator
    [pageSize]="10"
    [length]="55"
    [pageSizeOptions]="[13, 6, 3]"
  ></mat-paginator>
</div>
