<div class="container">
    
  <div class="table-container mat-elevation-z8">
    <div>
        <mat-form-field class="example-full-width">
            <mat-label>Search</mat-label>
            <input matInput placeholder="Customer id" #input>
          </mat-form-field>
    </div>
    <div class="spinner-container" *ngIf="dataSource!.loading$ | async">
        <mat-spinner style="margin: auto;margin-top: 80px;height: 30px;"></mat-spinner>
    </div>
    <mat-table [dataSource]="dataSource!" matSort>
        
      
  
      <!-- Customer -->
      <ng-container matColumnDef="Customer_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Customer ID</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.Customer_id}} </mat-cell>
      </ng-container>

     
  
      <!-- -->
      <ng-container matColumnDef="Number_Of_subscription">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Number of Subscriptions  </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.policies.split(',').length}} </mat-cell>
      </ng-container>

       <!-- ID Column -->
       <ng-container matColumnDef="Policies_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Insurances Polices ID </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.policies }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="det">
        <mat-header-cell *matHeaderCellDef mat-sort-header> </mat-header-cell>
        <mat-cell *matCellDef="let row">
            <button mat-mini-fab color="primary" aria-label="" (click)="goToDetail(row)">
                <mat-icon>arrow_forward</mat-icon>
              </button>
        </mat-cell>
      </ng-container>
  
      
  
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;">
      </mat-row>
    </mat-table>

  <mat-paginator
    [pageSize]="10"
    [length]="count"
    [pageSizeOptions]="[11, 8, 10]"
  ></mat-paginator>
</div>
